@import 'variables';
@import 'mixins';

body {
  background: $color-dark;
  position: relative;
  height: 200vh;
}

* {
  font-family: $font-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

.dark-mode {
  background-color: $color-dark;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }

  .container {
    background-color: $color-dark;
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  @include screen(desktop) {
    max-width: 1200px;
  }
}
