// Fonts
$font-primary: 'Josefin Sans', sans-serif;
$font-secondary: 'Quicksand', sans-serif;

// Colors
$color-primary: #6365e8;
$color-primary-light: #7072e6;
$color-primary-dark: #4b4ee7;
$color-secondary: #efbe46;
$color-secondary-light: #edc45e;
$color-secondary-dark: #f4bc34;
$color-dark: #333;
$color-dark-medium: rgba($color-dark, 0.9);
$color-dark-light: rgba($color-dark, 0.8);
$color-grey: #eee;
$color-grey-medium: rgba($color-grey, 0.8);
$color-grey-light: rgba($color-grey, 0.6);
$white: #fff;

//Default styles
$border-radius: 1.5rem;
$shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
