@import '../variables';
@import '../mixins';

main {
  &.dark {
    background-color: $color-dark;
  }
}

.dark {
  .title {
    color: $white;
  }

  .person-card {
    background-color: $color-dark;
  }

  .card__info {
    h3,
    p {
      color: $white;
    }
  }

  .card__share {
    svg {
      fill: $white;
    }
  }

  .button {
    border-color: $white;
    color: $white;
  }

  .techs {
    background-color: $color-dark;

    li {
      background-color: $color-dark-medium;
    }
  }
}
