@import '../variables';
@import '../mixins';

.header {
  display: block;
  width: 100%;
  border-bottom: 2px solid $white;
  position: fixed;
  top: 0;

  &.change-color {
    background-color: $white;
    border-color: $color-dark;

    .theme-changer {
      border-color: $color-dark;
      background-color: $color-grey-light;

      svg {
        fill: $color-dark;
      }
    }

    .menu-burger {
      span {
        background-color: $color-dark;
      }
    }

    .menu a {
      @include screen(desktop) {
        color: $color-dark;
      }
    }

    &.dark {
      background-color: $color-dark;
      border-color: $white;

      .theme-changer {
        border-color: $white;
        background-color: $color-grey-light;

        svg {
          fill: $white;
        }
      }

      .menu-burger {
        span {
          background-color: $white;
        }
      }

      .menu a {
        @include screen(desktop) {
          color: $white;
        }
      }
    }
  }

  &.dark {
    .menu {
      background-color: $color-dark;

      a {
        background-color: $color-dark;
        color: $white;
        border-color: $color-grey-light;
      }
    }
  }
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  a {
    width: 140px;
    display: block;
    padding: 2rem 0;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}

.header__menu {
  display: flex;
  align-items: center;
}
